#area-example-12 {
    height: 200px;
    max-width: 400px;
    margin: 0 auto;
    
  }
  #income {
    height: 200px;
    max-width: 400px;
    margin: 0 auto;
    
  }

caption{
    font-size: 1.5rem;
}